/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}

#wrapper{
    display: flex;
    height: calc(100vh - 130px);
    
   
}
button a {
    text-decoration: none;
    color: white;
}

button{
color: white;
background-color: black;
padding: 10px 22px;
border-radius: 20px;
font-weight: bold;
}
#lateral-bar{
width: 200px;
background-color:#000000;
}

#logo{
 width: 80%;
 margin: 16px 10px;
}

#logo-responsive{
    display: none;
}
 
 
ul a{
    color: #6E6E6E;
}
li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}
li>img{
    cursor: pointer;
    width: 25px;
    height: 25px;
    filter: invert(44%) sepia(0%) saturate(209%) hue-rotate(189deg) brightness(97%) contrast(90%);
}
li:hover a{
    color: white;
    
}
li:hover img{
    filter: invert(0%);
}

.option{
margin-left: 20px;
}
  .option-responsive{
    display: none;
  }

#up-bar{
    padding: 18px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 100;
    width: calc(100% - 200px);

}

#main-part{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    /* debug */

    background-color:#141922;
    
}







/* Regole footer */
footer{

background-color: #282828;
height: 130px;

width: 100%;

}



/* Responsive  smartphone*/

@media all and (max-width:480px){
    #lateral-bar{
        max-width: 200px;
    }
    .option-responsive{
        display: block;
    }
    .option{
        display: none;
    }
    #logo-responsive{
        display: block;
    }
    #logo{
        display: none;
    }
}