/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}

.white{
    color: white;
}

#wrapper{
    display: flex;
    height: calc(100vh - 70px);
    overflow-y: auto;
    }
    section{
        background-color: red; 
        width: 400px;
        height: 400px;
    }
#size{

}
.fix img{
    width: 17px;
}
.btn a {
    text-decoration: none;
    color: white;
}

.btn{
color: white;
background-color: black;
padding: 10px 22px;
border-radius: 20px;
font-weight: bold;
}
#lateral-bar{
width: 200px;
background-color:#000000;
}

#logo {
    width: 50%;
    margin: 11px 21px;
  }

#logo-responsive{
    display: none;
    width: 55%;
    
}
 
 
ul , #install{
    font-size: 12px;
}
ul a ,ul li , #install{
    color: #6E6E6E;
}
li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}
li>img{
    cursor: pointer;
    width: 25px;
    height: 25px;
    filter: invert(44%) sepia(0%) saturate(209%) hue-rotate(189deg) brightness(97%) contrast(90%);
}
li:hover a{
    color: white;
    
}
li:hover , .option #install:hover{
    cursor: pointer;
    color: white;
}
li:hover img{
    filter: invert(0%);
}

.option{
margin-left: 20px;
}
  .option-responsive img{
    display: none;
    
    
  }
  #middle{
   
   height: calc(100% - 269px);
    overflow-y: auto; 
  }

  #install{
    margin-left: 3px;
  }

  
  #plus {
    color: black;
    background-color: #a3a3a3;
    font-size: 30PX;
    font-weight: bold;
    border: none;
    padding: 2px 7px;
    text-align: center;
    padding: 0px 6px;
      padding-bottom: 0px;
    padding-bottom: 2px;
    cursor: pointer;
  }
  li #plus:hover{
    background-color: white;
  }

  .fix div{
    display: flex;
    margin: 0px 14px;
    border-bottom: ;
  }
 
.fix{
    display: flex;
    flex-direction: column;
    height: calc(100% - 84%);
    justify-content: flex-end;
}

#utent {
    width: 20px;
    background-color: #6E6E6E;
    padding: 0px 1px;
    border-radius: 50%;
  }
  #yari {
    align-self: center;
    margin-left: 5px;
  }

  #line {
    border-top: 1px solid white;
    margin-top: 10px;
    padding-top: 10px;
    
    
  }
#up-bar{
    padding: 18px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 100;
    width: calc(100% - 200px);

}

#main-part{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    background-color:#141922;
    
    
}







/* Regole footer */
footer{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    
}

.left-player {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 16%;
  }

.left-player img{
    width: 40px;
    
}

.song h6{
    color:#686868;
}

.left-flex {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }

/* Responsive  smartphone*/

/* Responsive barra laterale */

@media all and (max-width:480px){
    #lateral-bar{
        width: 10%;
        
    }
    .option-responsive img{
        display: block;
    }
    .option{
        display: none;
    }
    #logo-responsive{
        display: block;
    }
    #logo{
        display: none;
    }
    #up-bar{
        width: calc(100% - 50px);
    }
    .fix{
        height: calc(100% - 30%)
    }
    .left-player img{
        display: none;
    }

    #install{
        display: none;
    }
    
    #yari{
        display: none;
    }
    #line{
        border: none;
    }
    
   
}