/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#wrapper{
    display: flex;
    height: 80vh;
    
   
}
button a {
    text-decoration: none;
    color: white;
}

button{
color: white;
background-color: black;
padding: 10px 22px;
border-radius: 20px;
font-weight: bold;
}
#lateral-bar{
min-width: 200px;
background-color:#000000;
}

#logo{
 width: 80%;
 margin: 16px 10px;
}

#up-bar{
    padding: 18px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 100;
    width: 86%;

}

#main-part{
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
    /* debug */

    background-color:#141922;
    
}







/* Regole footer */
footer{
/* debug */
background-color: #282828;
height: 100%;
position: fixed;
z-index: 500;
width: 100%;

}



/* Responsive */

@media all and (max-width:1300px and min-width:880px) {
    #up-bar {
        padding: 0px 100px;
    }
}